<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> LOGIN ADMIN </h2>

            <div>
                <img src="{{ url_for('static', filename='img/cabeca.png') }}" id="icon" alt="Ícone do Usuário" />
            </div>
            <form method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <input type="submit" name="submit" placeholder="Entrar" required>
            </form>

        </div>
    </div>
</body>
</html>
